.wrapper{
    background-color: black;
    color: white
}

.channelAndLikes{
    display: flex;
    justify-content: space-between;
}

.lists{
    margin-top: 40px;
    list-style:none;
    display: inline-block;
}

.list{
    display: inline-block;
    margin-right: 30px;
}


.videoPart{
    width: 720px;
}



.buttons{
    background-color: #272727;
    color: white;
    margin-left: 15px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;   
    transition: background-color 0.3s ease;
}
.buttons:hover {
    background-color: #757677;
  }



.description{
    background-color: #272727;
    border-radius: 3%;
    padding : 10px 20px;

}

.firstInfo{
    display: flex;
}

.firstInfoElements{
    margin-right: 40px;
}

.tags{
    color: #3B92DC;
    
}