.header {
  display: flex;
  box-sizing: border-box;
  height: 4rem;
  /* background-color: #0f0f0f; */
  background-color: var(--color-bg-dark);
  line-height: 2rem;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.toggle{
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.a {
  box-sizing: content-box;
  display: flex;
  width: 6rem;
  text-decoration: none;
  margin-top: 0.25rem;
  margin-left: 1.5rem;
}

.logo {
  width: 6rem;
  height: 1.4rem;
  padding: 0.5rem 0.5rem;
}

.formContainer{
  flex-basis: 35%;
  margin-top: 2px;
}

form {
  display: flex;
  box-sizing: border-box;
  margin-top: 2px;
}

/* 
.title {
  width: 8rem;
  font-size: 2rem;
  color: white;
  margin: 0 0.5rem;
} */

.input {
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1rem;
  flex-grow: 5;
  outline: none;
  outline-color: gray;
  background-color: #0f0f0f;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* border: 1px solid rgb(34, 34, 34); */
  border: 1px solid var(--color-bg-dark-hover);
  text-indent: 1.25rem;
  /* color: rgb(226,226,226); */
  color: var(--color-dark-input);
}

.input::placeholder {
  font-size: 1rem;
}

.input:focus{
  border-color :  rgb(28, 98, 185);
}

.button {
  box-sizing: border-box;
  width: 3.25rem;
  height: 2.5rem;
  /* background-color: rgb(34, 34, 34); */
  background-color: var(--color-bg-dark-hover);
  padding: 0.25rem;
  outline: none;
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.mic{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(24, 24, 24); */
  background-color: var(--color-bg-dark2);
}

.mic:hover{
  /* background-color: rgb(48, 48, 48); */
  background-color: var(--color-bg-dark2-hover);
}

.iconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.buttonImg {
  width: 1rem;
  height: 1rem;
}

.profileImg{
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.profileImg > img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-grow: 1;
}


.videoImg{
  display: flex;
  width: 40px;
  height: 40px;
  /* background-color: #0f0f0f; */
  background-color: var(--color-bg-dark);
  border-radius: 50%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.bellImg{
  display: flex;
  width: 40px;
  height: 40px;
  /* background-color: #0f0f0f; */
  background-color: var(--color-bg-dark);
  border-radius: 50%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;

}

.iconContainer .videoimg{
  transform: translateX(5%);
}

.videoImg:hover{
  /* background-color: rgb(34, 34, 34); */
  background-color: var(--color-bg-dark-hover);
}

.bellImg:hover{
  /* background-color: rgb(34, 34, 34); */
  background-color: var(--color-bg-dark-hover);
}
.bellImg{
  flex-grow: 1;
}


/* dark mode 관련 */
.modeChange{
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--color-bg-dark);
  color: white;
  margin-right: 10px;
}

.modeChange:hover{
  background-color: var(--color-bg-dark-hover);
}